body {
  min-height: 100vh;
  font-family: "Noto Sans Thai", sans-serif;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(235, 103, 37, 0.3) 100%
    ),
    rgba(255, 255, 255, 0.8);
}

@media print {
  body {
    background-color: white !important; /* เปลี่ยนพื้นหลังเป็นสีขาว */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .printButton,
  header,
  footer,
  nav {
    display: none !important; /* ซ่อนปุ่มและส่วนที่ไม่ต้องการพิมพ์ */
  }

  .content {
    padding: 0 !important;
    border-color: white;
    box-shadow: 5px 5px 60px white;
  }

  table {
    width: 100%;
  }

  h1,
  h4,
  h5,
  p,
  a {
    color: black !important;
  }

  /* ตัวอย่างการตั้งค่า shadow ที่อาจอยู่ในไฟล์ CSS */
  .box-shadow {
    box-shadow: white !important; /* ลบ shadow */
  }
}
