.sidebar {
  position: absolute ;
  height: 100%;
  /* width: 25%; */
  color: #07AA9F;
  z-index: 999;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s;
  justify-content: flex-start;
  box-shadow: 5px 5px 6px #f1a27a;
}

.popup {
  position: absolute;
  top: 11.5%;
  left: 89%;
  width: 15rem;
  transform: translateX(-50%);
  padding: .5rem 2rem;
  background-color: white;
  border: 1px solid #EB6725;
  border-radius: 1rem;
}

.sidebar li {
  width: 300px;
}
.menucontent {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.menuitem li{
  padding: .4rem;
  justify-items: center;
}

.menuitem li:hover{
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}


.menucontent {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  
}

.menucontent::-webkit-scrollbar {
  display: none;
}

.menuitem {
  height: 100%;
  padding: 1rem;
  margin: 0;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
  color: #07AA9F;
  font-size: 1.2rem;
}


.item {
  text-decoration: none;
  /* color: #07AA9F;
  font-size: 1.2rem; */
}

/* .profile {
  color: #07AA9F;
  margin-right: 1rem;
} */
.profileicon {
  color: #07AA9F;
  margin-right: 1rem;
}

/* กำหนดสีของข้อความเป็นสีดำ */
.profiletext {
  color: #000;
  font-size: 1.2rem;
}

.header {
  position: fixed;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  z-index: 101; /* Set a higher z-index than the sidebar */
  width: 100%; /* Take up the full width */
  top: 0; /* Position at the top */
}

.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: .5rem;
  color: #EB6725;
  padding: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.left_content {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.left_content img {
  width: 8rem;
}

.left_content p{
  color: #07AA9F;
  font-size: 1.3rem;
  font-weight: bolder;
}

.right_content {
  align-items: center;
  justify-content: flex-end;
}

.right_content .button {
  padding: .5rem 1.5rem;
  background-color: #07AA9F;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}


.content {
  background-color: #ffffff;
  border-radius: 2rem;
  margin-top: .1rem;
  padding: 1rem 4rem 3rem;
  width: fit-content;
  height: fit-content;
  box-shadow: 4px 4px 3px 3px rgb(22, 22, 22);
}

.Table table {
  border-collapse: collapse;
  width: 100%;
}

.Table th,
.Table td {
  border: 1px solid #07AA9F;
  text-align: center;
  padding: 10px;
}

.Table th {
  background-color: #07AA9F;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.footer {
  background-color: #07AA9F;
  padding: 1rem 2rem;
  bottom: 0;
  border-radius: 1rem;
  color: #ffffff;
}

.gif{
  width: 80%;
  margin: 1rem;
}