.Basic {
  margin: 3%;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 5px 5px 60px #f1a27a;
  height: 20rem;
  color: #07AA9F;
}

.Basic span{
  text-align: center;
  font-size: 3rem;
  float: left;
  margin: 2rem 3rem;
  cursor: pointer;
}

.Basic button{
  width: 20vmax;
  padding: .7rem;
  background-color: #07AA9F;
  border: none;
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
}

.Basic input {
<<<<<<< HEAD
  width: 10vmax;
 padding: 1rem;
 border-radius: 1rem;
 border: 2px solid #07AA9F;
 background-color: #F9F9F9;
 color: #07AA9F;
}
=======
    width: 10vmax;
   padding: 1rem;
   border-radius: 1rem;
   border: 2px solid #07AA9F;
   background-color: #F9F9F9;
   color: #07AA9F;
 }
>>>>>>> c132dab050b034e1e677927f9bf64bb7d9f6272d

/* table {

} */